.example-form{
    text-align: center;
    margin: 70px auto;
    height: 300px
}
.example-full-width{
    width: 400px
}
.example-form-width{
    width: 300px
}
.login-btn{
    width: 300px;
    margin-top: 30px
}
.form-title{
    margin-bottom: 15px;
}
.forget-pwd{
    text-align:left;
    margin-left:52px;
    margin-top:8px
}
.m-left{
    margin-left:105px;
}